<!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head th:replace="fragments :: head">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>
  <body>
  <div th:replace="fragments :: navbar" ></div>
 
  <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
          <div class="container">
              <h1 class="display-3">BooksRuS</h1>
              <p>This is a small e-commerce application that allows the user to purchase some of a few products that are offered here. </p>
              <p><a class="btn btn-primary btn-lg" href="/about" role="button">Learn more &raquo;</a></p>
          </div>
      </div>
           <div class="container">
           <div class="row">
            <div class="col-md-3">
                <div class="card">
                   <img class="card-img-top" th:src="@{/Images/1/wonder.jpg}" style="width: 100%;height: 400px;object-fit: cover;" alt="image">
                   <div class="card-body">
                        <h5 class="card-title">Nature and Wildlife</h5>
                        <p class="card-text">Non-Fiction Nature </p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
          
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/2/shetty non.jpg}" style="width: 100%;height: 400px;object-fit: cover;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">New Religion</h5>
                        <p class="card-text">Non-Fiction New Religion</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/3/Ruz.jpg}" style="width: 100%;height: 400px;object-fit: cover;" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Business</h5>
                        <p class="card-text">Non-Fiction Business</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <img class="card-img-top" th:src="@{/images/4/Body non.jpg}" style="width: 100%;height: 400px;object-fit: cover; " alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Health non-fiction</h5>
                        <p class="card-text">How 'bout that touch bar?</p>
                        <a href="#" class="btn btn-primary">Details</a>
                         </div>
                      
                    </div>
                </div>
             </div>

         </div>

       <hr>

    </div> <!-- /container -->

</main>
 
  <footer th:replace="fragments :: footer"></footer>
  </body>
  </html>


